# Nodejs and package manager
*.local
.eslintcache
.next
.pnpm-debug.log*
cache
coverage
dist
node_modules
tsconfig.tsbuildinfo
logs
*.log
pnpm-debug.log*
build/
# local env files
.env
.envrc

# Nix
/result

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
