@tailwind utilities;

html {
  font-feature-settings: 'rlig' 1, 'calt' 1, 'ss01' 1, 'ss06' 1 !important;
}

[data-reach-skip-link] {
  @apply sr-only;
}

[data-reach-skip-link]:focus {
  @apply not-sr-only fixed ml-6 top-0 bg-white text-lg px-6 py-2 mt-2 outline-none focus:ring z-50;
}

.dark .invert-on-dark {
  filter: invert(1) brightness(1.8);
}

body {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 300px
    ),
    fixed 0 0 / 20px 20px radial-gradient(#d1d1d1 1px, transparent 0),
    fixed 10px 10px / 20px 20px radial-gradient(#d1d1d1 1px, transparent 0);
  font-family: Inter, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  --ifm-font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
}

.dark .react-tabs__tab-panel {
  background-color: #2222 !important;
}

.dark body {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #111 300px),
    fixed 0 0 / 20px 20px radial-gradient(#313131 1px, transparent 0),
    fixed 10px 10px / 20px 20px radial-gradient(#313131 1px, transparent 0);
}

.dark div[tabindex='0'] > div > span {
  color: #000 !important;
}

.dark div[id^='/paths/'] h5 {
  color: #aaa !important;
}

.dark div[id^='/paths/'] h5 > span {
  color: #aaa !important;
}

.callout a {
  color: inherit;
}

sup a {
  @apply text-current;
  text-decoration: none;
}

.footnotes {
  @apply text-sm;
}

.install [role='tablist'] {
  justify-content: center;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

.logo-text {
  display: block;
}

@media screen and (max-width: 769px) {
  .logo-text {
    display: none;
  }

  .logo-img {
    max-width: 60%;
  }
}